<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Action</string>
	<key>uuid</key>
	<string>7BB80020-AA07-4AEB-B47B-AB154F1A6F4B</string>
</dict>
</plist>
